* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 20vh;
  width: 98vw;
  background-color: orange;
  margin: 1vw;
  border-radius: 10px;
  border: 2px solid black;
  font-family: 'Francois One', sans-serif;
}

#headerImage {
  width: 16vh;
  height: 16vh;
  border: 2px solid black;
  float: left;
  margin: 1.8vh;
  border-radius: 75px;
}

#headerImage img {
  max-width: 100%;
  border-radius: 75px;
}

#pageName {
  float: left;
  font-weight: 500;
  font-size: 9vh;
  margin-top: 3.8vh;
}

nav {
  height: 20vh;
  float: right;
}

#navUl {
  list-style: none;
  display: inline-flex;
  font-size: 2.5vh;
  text-decoration: none;
}

.navLink {
  width: 15vw;
  padding: 8.1vh 0 8.1vh 0; 
  text-align: center;
  letter-spacing: .15vw;
  border-left: 1px solid black;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

a:visited {
  color: #000;
}

main {
  width: 98vw;
  height: 65vh;
  margin: 1vw;
}

.mainBox {
  display: inline-block;
  height: 65vh;
  border: 2px solid black;
  border-radius: 10px;
  overflow: auto;
}

#solaire {
  width: 54.5vw;
  margin-right: .7vw;
  background-color: seagreen;
  float: left;
  font-family: 'Lora', serif;
  letter-spacing: .1vw;
  font-weight: bold;
  font-size: 2.35vh;
  color: white;
}

#solaireImage {
  width: 22vh;
  height: 22vh;
  margin: 1.8vh;
  float: left;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

#solaireImage img {
  max-width: 100%;
}

#solaireIntro {
  margin: 1.8vh;
}

#solaireIntro p {
  margin-bottom: 2.2vh;
}

#tips {
  width: 42.3vw;
  background-color: grey;
  float: right;
  text-align: center;
  font-family: 'Lora', serif;
}

#tips p {
  margin: 1.8vh;
  font-size: 3vh;
  font-weight: 700;
}

#tips ul {
  background-color: #fff;
  margin: 2vw;
  border-radius: 10px;
  list-style: none;
  border: 2px solid green;  
}

#tips li {
  margin: 1.3vh 5vh 1.3vh 5vh;
  border-bottom: 2px solid black;
  padding: .5vh 0 1.5vh 0; 
}

#toolsBottom {
  border-bottom: none;
}

footer {
  width: 98vw;
  height: 8vh;
  border: 2px solid black;
  margin: 1vw;
  border-radius: 10px;
  text-align: center;
  background-color: orange;
}

#copyright {
  margin-top: 2.4vh;
  font-weight: 600;

}
